body {
    background-color: #f2f2f2;
    position: relative;

}

html {
    scroll-behavior: smooth;
}

/* target helps with scrolling over content*/
:target {
    scroll-margin-top: 40px;
}

@media only screen and (max-width: 780px) {
    :target {
        scroll-margin-top: 80px;
    }
}


.wrapMargins {
    margin: auto;
    width: 80%;
    padding: 10px;
    position: relative;
    z-index: 1;
    max-width: 1000px;
   
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    margin:auto;
    border-style: outset;
    font-family: "Trirong", serif;
    opacity: 0;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;

}


h2 {
    font-family: "Trirong", serif;
    padding: 10px;

}

p {
    font-family: "arial", serif;
    color: #404040;
    

}

ul {
    font-family: "arial", serif;
}

.p2 {
    opacity: 0;
    animation: fadeInAnimation ease 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.p3 {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.p4 {
    opacity: 0;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.p5 {
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.p6 {
    opacity: 0;
    animation: fadeInAnimation ease 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

.f7 {
    opacity: 0;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

.moveRight {
    margin-left: 40px;
}

.navBarOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navBarLis {
    display: inline;
    float: left;
}

.navA {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

.navA:hover {
    background-color: #5710a3;

}

.stickyNav {
    position: sticky;
    z-index: 2;
    top: 0;
}


#stickyNavDiv {

    margin: 0;
    width: 100%;
    float: left;
    overflow: hidden;
    background-color: #787673;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.clear {
    clear: both;
}

footer {
    width: 100%;
    float: left;
    display: block;
    background-color: #525151;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerInfo {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-family: "Trirong", serif;
    font-size: 25px;
}

.imgFloat {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cheeseBurgerWrapper{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 80%;
    max-width: 1000px;
    opacity: 0;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 40px;

}